.contactos {
  display: flex;
  margin-top: 100px;

  .other-info {
    width: 50%;

    h1 {
      font-size: 80px;
    }

    p {
      font-size: 22px;
    }

    span {
      cursor: pointer;
      color: #fc7532;
    }
  }
}
