.grupoCard {
  padding: 30px 50px;
  margin-top: 50px;
  border-radius: 25px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.411);

  h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .equipa {
    text-align: start;
  }
}

@media (max-width: 600px) {
  .grupoCard {
    padding: 30px 10px;
  }
}
