.calendarPage {
  padding-top: 50px;
  input {
    padding: 25px 10px;
    border-radius: 12px;
    font-size: 18px;
    width: 60%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.329);
    outline: none;
    border: none;
    background-color: #151415;
    color: white;
  }
}

.calendarioGamesOverview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
}

.main {
  display: flex;
}

.calendarioContainer {
  display: flex;
  justify-content: center;
  width: 40%;
}

@media (max-width: 1000px) {
  .calendarPage {
    input {
      width: 100%;
    }
  }
  .main {
    flex-direction: column-reverse;
  }

  .calendarioContainer {
    width: 100%;
  }

  .calendarioGamesOverview {
    width: 100%;
  }
}
