.calendarioGameCard {
  margin: 25px 0;
  padding: 25px 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.37);
  width: 500px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .data {
    color: #6f6e71;
    text-transform: uppercase;
    font-size: 1.1rem;
  }

  .equipas {
    display: flex;
    justify-content: center;
    margin: 35px 0;
    font-size: 1.3rem;
    width: 100%;
    text-align: center;

    p {
      margin: 0 20px;
      width: 200px;
      &:nth-child(2) {
        color: #6f6e71;
        text-transform: uppercase;
      }
    }
  }

  a {
    span {
      margin-left: 8px;
    }
  }
}

@media (max-width: 1800px) {
  .calendarioGameCard {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .calendarioGameCard {
    p {
      text-align: center;
    }
  }
}
