$fontColor: #d82529;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;

  .logo {
    img {
      height: 100px;
    }
  }

  nav {
    ul {
      display: flex;

      .navItem {
        padding: 10px 20px;
        font-size: 20px;
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:hover {
          cursor: pointer;
          color: $fontColor;
        }
      }

      .dropdown {
        display: flex;
        flex-direction: column;
        position: relative;

        .text {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: default;

          i {
            margin-left: 8px;
            margin-top: 2px;
            transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
          }
        }

        .subMenu {
          display: flex;
          position: absolute;
          flex-direction: column;
          display: none;
          padding-top: 10px;
          top: 35px;
        }

        &:hover {
          i {
            color: white;
            transform: rotateX(180deg);
          }
          .subMenu {
            display: flex;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  header {
    display: none;
  }
}
