.leaderboard {
  margin-top: 50px;
}

.table-container {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.329);
  padding: 30px;
}
table {
  width: 100%;
}
th,
td {
  text-align: center;
  padding: 10px;
}

tr th {
  color: #d82529;
}

@media (max-width: 500px) {
  .table-container {
    padding: 30px 10px;
  }
}
