.leaderboard {
  margin-top: 100px;
}

.table-container {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.329);
  padding: 30px;
}
table {
  width: 100%;
}
th,
td {
  text-align: center;
  padding: 10px;
}

tr th {
  color: #d82529;
}
