.regulamento {
  display: flex;
  margin-top: 100px;

  img {
    width: 450px;
  }

  .other-info {
    width: 50%;

    h1 {
      font-size: 80px;
    }

    p {
      font-size: 22px;
    }

    span {
      cursor: pointer;
      color: #d82529;
    }
  }
}

@media (max-width: 1100px) {
  .regulamento {
    flex-direction: column;
    align-items: center;

    .other-info {
      width: 100%;
      text-align: center;
      margin-bottom: 100px;
    }
  }
}
@media (max-width: 600px) {
  .regulamento {
    img {
      width: 100%;
    }
    .other-info {
      h1 {
        font-size: 50px;
      }
    }
  }
}

@media (max-width: 420px) {
  .regulamento {
    .other-info {
      h1 {
        font-size: 40px;
      }
    }
  }
}
